@{
    ViewBag.Title = "shop";
}

@model IEnumerable<WebApplication8.Models.Orders>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="log_btn-wrap">
    <a href="/Shop/regOrAut">
        <button class="logIn">Войти или зарегестрироваться</button>
    </a>
</div>


    