
@{
    ViewBag.Title = "Action";
}

<h2>Action</h2>

<a href="/Math/AllMethods">
    <button style="cursor: pointer; padding: 10px; background-color: gray; margin-bottom: 20px; border-radius: 10px; border: 0px; color: white">калькулятор</button>
</a>


<a href="/CustomersTable/Index">
    <button style="cursor:pointer; padding: 10px; background-color: gray; margin-left: 20px; border-radius: 10px; border: 0px; color: white">Показать данные таблицы Orders</button>
</a>

