
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div>
        <a href = "/ShowTables/CustomersTable">
            <button>Показать данные таблицы Customers</button>
           
        </a>

        <br />
        <br />

        <a href="/ShowTables/OrderTable">
            <button>Показать данные таблицы Orders</button>
        </a>

        <br />
        <br />

        <a href="/ShowTables/redirectCustomerUpdate">
            <button>Обновить данные клиента</button>
        </a>

        <br />
        <br />

        <a href="/ShowTables/redirectOrderUpdate">
            <button>Обновить данные заказа</button>
        </a>

        <br />
        <br />

        <a href="/ShowTables/createStringCustomers">
            <button>Добавить клиента</button>
        </a>

        <br />
        <br />

        <a href="/ShowTables/createStringeOrders">
            <button>Добавить заказ</button>
        </a>

        <br />
        <br />

        <a href="/ShowTables/redirectCustomerDelete">
            <button>Удалить клиента</button>
        </a>

        <br />
        <br />

        <a href="/ShowTables/redirectOrderDelete">
            <button>Удалить заказ</button>
        </a>
    </div>
</body>
