
@{
    ViewBag.Title = "redirectCustomerDelete";
}

@using (Html.BeginForm("redirectCustomerDelete", "ShowTables", FormMethod.Post))
{
    <p>Введите id покупателя</p>
    <input type="text" name="inputName" />
    <button type="submit">Изменить данные</button>
}