
@{
    ViewBag.Title = "redirect";
}

<div class="log_btn-wrap">
    <div class="column">
        <h2>Панель администратора</h2>

        <a href="/Orders/Index">
            @*<button>Все об оборудовании</button>*@
            Все об оборудовании
        </a>
        <br />
        <br />
        <a href="/OrderHistories/Index">
            @*<button>Все заказы</button>*@
            Все заказы
        </a>
    </div>
</div>